@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

.image{
    margin-left:auto;
    margin-right:auto;
    padding-top: 5vh;
}

.box {
width: 12rem;
float: left;
margin-left: 8vh;
margin-bottom: 2vh;
margin-top: 2vh;
}

.card-body{
    height: 140px;
}

.btn {
background-color: black;
margin-left:auto;
margin-right:auto;
text-align: center;
transition: 0.3s;
border: 2px black solid;
}

.btn:hover {
    background-color: grey;
    border: 2px grey solid;
    color: black;
}


.card-title{
    font-weight: bold;
    font-family: Sarabun, sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 0.2mm;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
